---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
const pageTitle = "About Me";
const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "oklch(0.8 0.3 180)";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    <style define:vars={{skillColor: skillColor}}>
      h1 {
        font-size: 4rem;
        width: max-content;
        background-color: transparent;
        background-image: linear-gradient(to right, oklch(0.6 0.25 29.2), oklch(0.51 0.2 142.5));
        background-clip: text;
        color: transparent;
      }
      .skillsList {
        list-style-type: none;
        padding: 0;
        & li {
          color: var(--skillColor);
        }
      }
    </style>
	</head>
	<body>
    <Navigation />
    <main class="container">
      <h1>{pageTitle}</h1>

      <section class="aboutSection">
        <div>
          <h2>
            <mark>{identity.firstName}</mark>
          </h2>

          <ul>
            <li>Hobby 1: {identity.hobbies[0]}</li>
            <li>Hobby 2: {identity.hobbies[1]}</li>
            <li>Hobby 3: {identity.hobbies[2]}</li>
          </ul>

          <ul class="skillsList">
            {skills.map((skill) => <li>{skill}</li>)}
          </ul>

          {happy && <p>I am happy</p>}
          {finished && <p>I am finished</p>}
          <p>My goal is to finish all over my hand in {goal} minutes or less.</p>

          <p>
            Neil got roped into a red-box D&D game one rainy lunchtime at
            school in the 1980s and never quite got over it. TTRPGs have been
            a constant in his life ever since.
          </p>
          <p>
            <em>But</em> it turns out he had more than one nerdish obsession,
            and the other one, computers, offered better pay. So he bounced
            around bunch of roles (sysadmin, tech writer, graphic designer)
            before becoming a full-time developer in the mid-noughties.
          </p>
          <p>
            He&apos;s been a professional developer ever since, working with
            startups and established companies alike, and has never stopped
            playing TTRPGs.
          </p>
          <p>Neil lives with his wife Jade, and two cats.</p>
        </div>

        <img
          src="{neil_warsaw}"
          alt="A photo of a man (Neil) wearing glasses and a t-shirt, with a cat on his lap."
        />
      </section>

      <hr />
      <section class="{styles.aboutSection}">
        <div>
          <h2>
            <mark>Jade</mark>
          </h2>
          <p>
            Jade has never played a single TTRPG in her entire life, but she
            has many useful skills, including putting up with Neil,
            proofreading, and admin.
          </p>
          <p>Jade lives with her husband Neil, and two cats.</p>
        </div>
        <img
          src="{jadeSunset}"
          alt="A photo of Jade with a sunset in the background."
          class="about-image"
        />
      </section>
      <hr />
      <section class="{styles.aboutSection}">
        <div>
          <h2>
            <mark>The cats, Grigio and Romana</mark>
          </h2>
          <p>
            Grigio (left, fluffy, one braincell) and Romana (right, shorthair,
            too smart) are both rescues from UAE. Grigio was dumped in a car
            park and Romana was abandoned in the lobby of an apartment block
            for days.
          </p>
          <p>
            Romana and Grigio now live with each other and two human servants.
          </p>
          <p>
            If you&apos;re curious about adopting a cat from UAE, check out
            the{" "}
            <a
              target="_blank"
              href="https://www.instagram.com/fur_family11.11?igsh=NzRiOGQzdGMzNDd1"
            >
              Fur Family
            </a>{" "}
            Instagram page or the{" "}
            <a
              target="_blank"
              href="https://www.instagram.com/pawsomexlove?igsh=YWxyYzNsc3ZraHNw"
            >
              Pawsome Love
            </a>{" "}
            Instagram page.
          </p>
        </div>
        <img
          src="{theCats}"
          alt="A photo of Jade with a sunset in the background."
          class="about-image"
        />
      </section>
    </main>
    <Footer />
</body>
</html>
